.add-newProduct-modal {
  position: relative;
  // top: 13%;
  // left: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 700px;
  background-color: white;
}

.product-form-item-wrapper {
  display: flex;
  height: 55px;
  p {
    font-weight: 700;
    width: 40%;
    border: 1px solid #969393;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 14px;
    text-align: right;
  }
  .autocomplete,
  input,
  select,
  option,
  .anp-select {
    width: 60%;
    font-size: 12px;
  }
}

.add-new-product-header-wrapper {
  background-color: #969393;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: white;
  justify-content: space-between;

  p {
    font-size: 28px;
  }

  div {
    display: flex;
    align-items: center;
  }

  h3 {
    color: white;
    margin-left: 10px;
  }
}

.close-icon {
  color: white;
}

.anp-buttons-wrapper {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0%;

  > div {
    display: flex;
    justify-content: center;
  }

  button {
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    margin: 0 5px;
    border-radius: 12px;
    color: white;
    cursor: pointer;
  }
}

.anp-add-button {
  background-color: #1f7184;
}

.anp-submit-button {
  background-color: #0a971a;
}

.anp-cancel-button {
  background-color: #fb4343;
}

.product-distribution-modal {
  height: 350px;
}

.switcher-wrapper {
  border: 2px solid #969393;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
}

.test-modal {
  min-height: 480px;
  max-height: 550px;
}

.test-modal-add-product-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  button {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0 5px;
    border-radius: 12px;
    color: white;
    cursor: pointer;
  }

  .button-active {
    background-color: #0a971a;
  }

  .button-disabled {
    background-color: #969393;
    cursor: default;
  }
}

.tm-products-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  > div {
    display: flex;
    align-items: center;
    margin-left: 10px;

    > svg {
      margin-top: 5px;
    }
  }
}

.error {
  color: red;
}

.mtm-get-test-price-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
  width: 100%;
  margin-left: 20px;

  > button {
    width: 250px;
    height: 30px;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
}
