.home-page-wrapper {
  position: relative;
  width: 100%;
  height: 98vh;
  padding-right: 40px;

  h2 {
    font-size: 32px;
    line-height: 40px;
    margin-top: 80px;
  }
}

.logos-wrapper-inner {
  // padding-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.logos-wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    border: 5px solid #ebebeb;
    border-radius: 10px;
    height: 200px;
  }
}
