.header-mobile {
  position: relative;
  height: 95.5vh;
  padding: 10px 20px;
  background-color: #1f7184;
  width: 400px;
}

.menu-item {
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu-item:hover {
  background-color: #29c0c9;
  border-radius: 16px;
}

.hm-balance-container {
  padding-right: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle-blue {
  background-color: rgb(41, 191, 201);
  width: 30px;
  height: 30px;
  border-radius: 32px;
}

.circle-white {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 32px;
}

.menu-lines-closed {
  width: 30px;
  height: 90vh;
  background-color: #1f7184;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .circle-white,
  .circle-blue {
    margin-top: 20px;
  }
}

.menu-categories-item {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  a {
    width: 100%;
  }
}

.menu-link-active {
  background-color: #29c0c9;
  border-radius: 16px;
}
.menu-category-header {
  li {
    background-color: transparent;
    padding: 0;
    display: flex;
  }

  svg {
    cursor: pointer;
  }
}
